[submodule "themes/sohohugothemes"]
   path = themes/sohohugothemes
   url = "https://github.com/ahmadsufyan455/sohohugothemes"
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
