<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- My Css -->
    <link rel="stylesheet" href="/css/style-dark.css" id="theme-style">

    <!-- My Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    {{- partial "head.html" . -}}
    <link rel="shortcut icon" href="/avatar/computer.png" type="image/png">
</head>

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}

<script src="/js/theme.js"></script>
</body>

</html>